@model IEnumerable<corum_pharmacy.Models.Town>

@{
	ViewData["Title"] = "Category";
	Layout = "~/Views/Shared/_PharmacyList.cshtml";
}
<div class="text-center">
	<h1 class="display-4" style="margin-top:10px;margin-bottom:20px;font-weight:bold;">İlçe Listesi</h1>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="container" style="width:500px;text-align:center;">
	<div style="-webkit-box-shadow: -11px 15px 56px -12px rgba(0,0,0,0.67);
				-moz-box-shadow: -11px 15px 56px -12px rgba(0,0,0,0.67);
				box-shadow: -11px 15px 56px -12px rgba(0,0,0,0.67);border-radius: 23px 23px 23px 23px;
				-moz-border-radius: 23px 23px 23px 23px;-webkit-border-radius: 23px 23px 23px 23px;
				border: 0px solid #000000;">
		<Table class="table table-hover" style="text-align:center;">
			<thead>
				<tr style="background-color:#000000;color:white;">
					<th>ilce_id</th>
					<th>ilce_adi</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.ilce_id</td>
						<td>@item.ilce_adi</td>
					</tr>
				}
			</tbody>
		</Table>
	</div>
	@*(x=>x.Select(x=>x.ilce_id).ToList()*@
	@Html.DropDownList("Ilceler",(List<SelectListItem>)ViewBag.value1,new {@class = "form-control"})
</div>